.image-1 {
  width: 100%;
  position: relative;
  height: 529px;
  background-image: url(./public/image-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
